@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/transition";
.news-slider {
  position: relative;
  @include inline-block;
  .slide-img {
    position: absolute;
    height: 270px;
    overflow: hidden;
    @include single-transition(all,.2s);
    &.hide-img { visibility: hidden; @include opacity(0);}
  }

  & .button {
    position: absolute;
    top: 50%;
    background-color: #ffffff;
    @include opacity(.2);
    cursor: pointer;
    @include  single-transition(all,.1s);

  }

  &:hover .button {
    @include opacity(.5);
    &:hover {@include opacity(.9);}
  }

  & .slide-img .title {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    padding: 10px 5px 0px 10px;
    height: 50px;
    text-align: left;
    background-color: #312667;
    @include opacity(1);
    color: #fafafa;
    font-size: 17px;
    font-weight: 600;
    @include single-transition(all,.2s);
    white-space: nowrap;
    overflow: hidden;
  }

  & .slide-img .bottom-note {
    position: relative;
    bottom: 0;
    color: #fafafa;
    font-size: 11px;
    margin-top: 10px;
    line-height: 0;
    white-space: nowrap;
  }
}

.news-group {
  position: relative;
  @include inline-block;

  .news-img {
    line-height:0;
    @include inline-block;
    *float: left;
  }
  & .news-img {
    @include inline-block();
    float: left;
    margin-left: 6px;
  }
}