@import "compass/css3/box";
@import "compass/css3/inline-block";
@import "compass/css3/box-shadow";

.nav {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  background-color: #fff;
  z-index: 100;
  @include single-box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.15));
  @include clearfix;
  overflow: visible;
  & a {
    text-decoration: none;
  }

  & .banner {
    position: relative;
    float: left;
    clear: both;
  }
  .nav-list {
    position: relative;
    list-style: none;
    @include clearfix;
    @include inline-block;
    overflow: visible;
    & .nav-list-items {
      position: relative;
      float: left;
      &:hover {
       background-color: rgba(200,200,200,.2);;
        >.nav-dropdown-list {display: block};
      }
      a {
        display: block;
        padding: 0 12.5px;
        font-size: 14px;
        color: #444;
        font-weight: 700;
        &:hover {
          background-color: rgba(200,200,200,.2);
        }
      }
    }

    & .nav-dropdown-list {
      position: absolute;
      display: none;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      background-color: #fff;
      z-index:999;
      list-style: none;
      @include box-shadow(rgba(black,.16) 0 0 13px);
      &:after {
        border-bottom: 10px solid #fff;
        border-top: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        content: " ";
        display: block;
        height: 0;
        position: absolute;
        width: 0;
      }

      & .dropdown-list-items {
        position: relative;
        float: none;
        display: list-item;
        text-align: -webkit-match-parent;
        a {
          position: relative;
          float: none;
          display: block;
          font-size: 13px;
        }
      }
    }
  }
}
